       {{!-- {{#if user}}
            <a href="/recipes/add" class="btn btn-lg btn-success rounded-circle addRecipeFloat"><i class="fa fa-plus" style="color: white"></i></a>
        {{/if}} --}}


               {{#if user}}
            <a href="/recipes/add" class="btn btn-lg btn-info addRecipeFloat">Create a Recipe</a>
        {{/if}}


            {{!-- <a href="#" class="btn btn-danger bugReport">Report Bug</a> --}}
