<div class="jumbotron-fluid mt-5">
    <div class="container">
  <h1 class="display-4">Welcome to Mom's Cookbook!</h1>
  <p class="lead">Create, share, and collect recipes.</p>
  <hr class="my-4">
    
  {{#unless user}}
  <p>Create an account or login below to begin:</p>
  <a class="btn btn-primary btn-lg" href="register" role="button">Register</a>
  <a class="btn btn-primary btn-lg" href="login" role="button">Login</a>
  {{/unless}} 

  </div>
</div>

