<img class='bg' src="/public/healthyCoverPhotoEdited.jpg" alt="">

<div class="jumbotron-fluid text-center">
    <div class="container">
  <h1 class="display-4 gray">Welcome to Recipe Rundown</h1>
  <p class="mb-5 gray">A social network for sharing and discovering recipes between friends and family</p>

<div class="container welcomeContainer mb-5">
  <div class="row">
    <div class="col-6 gray">  Create <i class="fa fa-pencil"></i></div>
    <div class="col-6 gray">Discover<i class="fa fa-eye"></i></div>
  </div>
   <div class="row">
    <div class="col-6 gray">Share<i class="fa fa-share"></i></div>
    <div class="col-6 gray">Manage<i class="fa fa-tasks"></i></div>
  </div>

  </div>


    
  {{#unless user}}
  <a class="btn btn-light btn-lg" href="register" role="button">Register</a>
  <a class="btn btn-light btn-lg" href="login" role="button">Login</a>
  <a class="btn btn-light btn-lg" href="recipes" role="button">Continue as guest</a>
  {{/unless}} 

  </div>
</div>


