<img class='bg' src="/public/healthyCoverPhotoEdited.jpg" alt="">

<div class="jumbotron-fluid text-center">
    <div class="container">
  <h1 class="display-4">Welcome to Mom's Cookbook</h1>
  <p class="lead">Create</p>
  <p class="lead">Discover</p>
  <p class="lead">Share</p>
  <p class="lead">Never Forget</p>
    
  {{#unless user}}
  <a class="btn btn-light btn-lg" href="register" role="button">Register</a>
  <a class="btn btn-light btn-lg" href="login" role="button">Login</a>
  <a class="btn btn-light btn-lg" href="recipes" role="button">Continue as guest</a>
  {{/unless}} 

  </div>
</div>


