.recipeDisplay { 
    margin-bottom: 30px;
    transition: 500ms;
}

.recipeDisplay:hover {
    transform: scale(1.02);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.addRecipeFloat {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.buttonContainer {
    position: absolute;
    display: flex;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

.recipeRow {
    margin-top: 40px;
}

.jumbotron-fluid {
    margin-top: 100px;
    position: relative;
    color: #fff8dcde;
}

.jumbotron-fluid h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
}


.navbar{
font-family: 'Nunito', sans-serif;
}

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: gainsboro;
}

.btn {
    border-radius: 3px;
}

.whatINeed {
    border-right: 1px solid black;
}

/* .navbar-nav {
    padding: 20px;
} */

.navbar-nav li {
    margin-right: 10px;
}

.active {
    background-color: white;
}

.recipeList li {
    list-style-type: none;
}

.nav-item a {
    color: orange;
}

.card-img-top {
    max-height: 300px;
}












