.recipeDisplay { 
    margin-bottom: 30px;
    transition: 500ms;
}

.recipeDisplay:hover {
    transform: scale(1.02);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.addRecipeFloat {
    position: fixed;
    bottom: 15px;
    right: 15px;
}

.buttonContainer {
    position: absolute;
    display: flex;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  
  @media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
      left: 50%;
      margin-left: -512px;   /* 50% */
    }
  }

.recipeRow {
    margin-top: 40px;
}

.display-4 {
    font-family: 'Liu Jian Mao Cao', cursive;
}

.jumbotron-fluid {
    margin-top: 80px;
    position: relative;
    color: #fff8dcde;
}

/* .jumbotron-fluid h1 {
    font-family: 'Liu Jian Mao Cao', cursive;
} */

/* .carousel {
    margin: 0px 300px 300px;
} */


.recipe-thumb {
    width: 75px;
    height: 75px;
    justify-content: center;
    
}


/* .navbar{
font-family: 'Nunito', sans-serif;
} */

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: gainsboro;
}

.btn {
    border-radius: 3px;
}

.whatINeed {
    border-right: 1px solid black;
}

/* .navbar-nav {
    padding: 20px;
} */

.navbar-nav li {
    margin-right: 10px;
}

.active {
    background-color: white;
}

.recipeList li {
    list-style-type: none;
}

/* .recipeList li:nth-child(n+2) {
    margin-top: 10px;
  } */



.nav-item a {
    color: orange;
}

.card-img-top {
    height: 300px;
}


.welcomeContainer {
    width: 200px;
    height: 200px;
}

.welcomeContainer .col-6 {
    height: 100px;
    width: 100px;
    border: 1px solid #fff8dcde;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .nav-color {
     color: orange;
 }

 /* Style the active class (and buttons on mouse-over) */
.current  {
    background-color: lightgray;
    color: black !important;
    /* transition: 1000ms */
    border-radius: 5px;
  }

  .profileRecipes {
    margin-top: 56px;
    background-color: gainsboro;
    height: 50px; 
    padding-top: 8px;
    
  }

  














