<div class="row">
    <div class="mx-auto">
        <div class="card card-body recipe-form-padding">
            <h3 class="text-center">Create Recipe</h3>
            <form method="post" action="/recipes/add" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="recipeName">Recipe Name</label>
                    <input name="recipeName" value="{{recipeName}}" type="text" class="form-control" required>
                </div>
                <div class="form-group mt-5">
                    <label for="image">Upload an Image <span class="placeholderSpan">(a placeholder will be used if you would like to upload a photo later)</span></label>
                    <br>
                      <input class='imageUpload' type='file' name='image'>
                </div>
                {{!-- INGREDIENTS --}}
                <div class="container d-flex mt-5 justify-content-center">
                    <h3 class="text-center">Ingredients</h3> 
                    <button type="button" class="btn btn-success ml-2 addIngredientBtn" style="height: 38px">
                        <i class="fa fa-plus "></i>
                    </button>
                </div>
                <div class="ingredientContainer">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="quantity" class="mobileLabel">Quantity</label>
                        </div>
                        <div class="form-group col-3">
                            <label for="measurement" class="mobileLabel">Measurement</label>
                        </div>
                        <div class="form-group col-5">
                            <label for="ingredient" class="mobileLabel">Ingredient</label>
                        </div>
                    </div>
                    <div id="ingredientMoveContainer">
                        <div class="form-row ingredient-row">
                            <div class="form-group form-button d-flex flex-column col-auto justify-content-center">
                                <i class="fa fa-sort-up moveup"></i>
                                <i class="fa fa-sort-down movedown"></i>
                            </div>
                            <div class="form-group col-2 form-button">
                                {{!-- <label for="quantity" class="mobileLabel">Quantity</label> --}}
                                <input name="quantity" type="number" class="form-control" step="0.01">
                                {{!-- <select name="quantity" class="custom-select">
                                    <option selected></option>
                                    <option value="1/4"></option>
                                    <option value="1/3"></option>
                                    <option value="1/2"></option>
                                    <option value="2/3"></option>
                                    <option value="3/4"></option>
                                    <option value="1"></option>
                                    <option value="2"></option>
                                    <option value="3"></option>
                                    <option value="4"></option>
                                    <option value="5"></option>
                                    <option value="6"></option>
                                    <option value="7"></option>
                                    <option value="8"></option>
                                    <option value="9"></option>
                                </select> --}}
                            </div>
                            <div class="form-group col-3 form-button">
                                {{!-- <label for="measurement" class="mobileLabel">Measurement</label> --}}
                                <select name="measurement" class="custom-select measurement">
                                    <option selected></option>
                                    <option value="tsp.">tsp.</option>
                                    <option value="tbsp.">tbsp.</option>
                                    <option value="oz">oz</option>
                                    <option value="cups">cups</option>
                                    <option value="pints">pints</option>
                                    <option value="quarts">quarts</option>
                                    <option value="gallons">gallons</option>
                                    <option value="mL">mL</option>
                                    <option value="L">L</option>
                                    <option value="lb">lb</option>
                                    <option value="box">box</option>
                                    <option value="leaves">leaves</option>
                                    <option value="ears">ears</option>
                                    <option value="bunches">bunches</option>
                                    <option value="whole">whole</option>
                                    <option value="jars">jars</option>
                                    <option value="bags">bags</option>
                                    <option value="drops">drops</option>
                                    <option value="pinches">pinches</option>
                                    <option value="sticks">sticks</option>
                                    <option value="sprigs">sprigs</option>
                                    <option value="cans">cans</option>
                                    <option value="jars">jars</option>
                                    <option value="pieces">pieces</option>
                                </select>
                            </div>
                            <div class="form-group col-5 form-button">
                                {{!-- <label for="ingredient" class="mobileLabel">Ingredient</label> --}}
                                <input name="ingredient" type="text" class="form-control">
                            </div>
                            <div class="form-group col-auto form-button">
                                <button type="button" class="btn btn-dark mt-auto deleteIngredientBtn" style="height: 38px">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                            
                        </div>
                    </div>
                </div>
<!--STATIC DIRECTION-->
                <div class="container mt-5 d-flex justify-content-center">
                    <h3 class="text-center">Instructions</h3>
                    <button type="button" class="btn btn-success ml-2 addInstructionBtn" style="height: 38px">
                            <i class="fa fa-plus"></i>
                    </button>
                </div>
                <div class="instructionContainer">
                    
                    <div class="form-row">
                        <div class="form-group col-10">
                            <label for="inlineFormInputGroup">Directions</label>
                            {{!-- <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text steps">Step 1</div>
                                </div>
                                <input name="step" type="text" class="form-control" id="inlineFormInputGroup">
                            </div> --}}
                        </div>
                        {{!-- <div class="form-group col-1 d-flex">
                            <button type="button" class="btn btn-dark mt-auto deleteInstructionBtn" style="height: 38px">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div> --}}
                    </div>






                    
                    
                    
                    
                    <div id="instructionMoveContainer">
                    <div class="form-row instruction-row">
                        <div class='form-group form-button col-auto d-flex flex-column justify-content-center'>
                            <i class="fa fa-sort-up moveup"></i>
                            <i class="fa fa-sort-down movedown"></i>

                        </div>
                        <div class="form-group col-10">
                            {{!-- <label for="inlineFormInputGroup">Directions</label> --}}
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text steps">Step 1</div>
                                </div>
                                <input name="step" type="text" class="form-control" id="inlineFormInputGroup">
                            </div>
                        </div>
                        <div class="form-group col-auto form-button">
                            <button type="button" class="btn btn-dark mt-auto deleteInstructionBtn" style="height: 38px">
                                <i class="fa fa-minus"></i>
                            </button>
                        </div>
                        
                    </div>
                    </div>

                    
                    {{!-- <div class="form-row">

                        <div class="form-group col-10">
                            <label for="inlineFormInputGroup">Directions</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text steps">Step 1</div>
                                </div>
                                <input name="step" type="text" class="form-control" id="inlineFormInputGroup">
                            </div>
                        </div>

                    </div> --}}
                </div>
                <input type="submit" value="Submit" class="btn btn-secondary mt-5">
            </form>
        </div>
    </div>
</div>

<script src='/public/custom-js.js'></script>