<div class="row">
    <div class="mx-auto">
        <div class="card card-body">
            <h3 class="text-center">Create Recipe</h3>
            <form method="post" action="/recipes/add" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="recipeName">Recipe Name</label>
                    <input name="recipeName" value="{{recipeName}}" type="text" class="form-control" required>
                </div>


                {{!-- <div class="form-check">
                    <input class="form-check-input placeholder" type="radio" name="imageSelect" id="exampleRadios1" value="placeholder" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Use placeholder image
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input choose" type="radio" name="imageSelect" id="exampleRadios2" value="choose">
                    <label class="form-check-label" for="exampleRadios2">
                        Upload your own image
                    </label>
                </div> --}}


                <div class="form-group mt-5">
                    <label for="image">Upload an Image (you can leave blank and upload later)</label>
                    <br>
                      <input class='imageUpload' type='file' name='image'>
                </div>


                <div class="container d-flex mt-5 justify-content-center">
                <h3 class="text-center">Ingredients</h3> 
                <button type="button" class="btn btn-success ml-2" style="height: 38px">
                    <i class="fa fa-plus addIngredientBtn"></i>
                </button>
                </div>
                
<!--STATIC Ingredient-->
                <div class="ingredientContainer">
                    <div class="form-row">
                        <div class="form-group col-2">
                            <label for="quantity">Quantity</label>
                            <input name="quantity" type="number" class="form-control" step="0.01">
                        </div>
                        <div class="form-group col-3">
                            <label for="measurement">Measurement</label>
                            <select name="measurement" class="custom-select measurement">
                                <option selected></option>
                                <option value="tsp.">tsp.</option>
                                <option value="tbsp.">tbsp.</option>
                                <option value="oz">oz</option>
                                <option value="cups">cups</option>
                                <option value="pints">pints</option>
                                <option value="quarts">quarts</option>
                                <option value="gallons">gallons</option>
                                <option value="mL">mL</option>
                                <option value="L">L</option>
                                <option value="lb">lb</option>
                                <option value="drops">drops</option>
                                <option value="pinches">pinches</option>
                                <option value="sticks">sticks</option>
                                <option value="sprigs">sprigs</option>
                                <option value="cans">cans</option>
                                <option value="jars">jars</option>
                                <option value="pieces">pieces</option>
                            </select>
                        </div>
                        <div class="form-group col-5">
                            <label for="ingredient">Ingredient</label>
                            <input name="ingredient" type="text" class="form-control">
                        </div>
                        <div class="form-group col-1 d-flex"></div>
                    </div>
                </div>
<!--STATIC DIRECTION-->
<div class="container mt-5 d-flex justify-content-center">
                <h3 class="text-center">Instructions</h3>
                <button type="button" class="btn btn-success ml-2" style="height: 38px">
                        <i class="fa fa-plus addInstructionBtn"></i>
                </button>
                </div>
                <div class="instructionContainer">
                    <div class="form-row">
                        <div class="form-group col-10">
                            <label for="inlineFormInputGroup">Directions</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text steps">Step 1</div>
                                </div>
                                <input name="step" type="text" class="form-control" id="inlineFormInputGroup">
                            </div>
                        </div>
                        <div class="form-group col-1 d-flex">
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit" class="btn btn-secondary mt-5">
            </form>
        </div>
    </div>
</div>
<script src='/public/custom-js.js'></script>